* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.cards_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.selected {
  background: red;
  color: white;
  width: 45%;
  font-size: 2rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  margin: 1rem;
  border: 1px grey solid;
}
.cards {
  width: 45%;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 1rem;
  border: 1px grey solid;
}
